<!DOCTYPE html>
<html lang=en>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main class="container">
        <h1>Skoleprotokol</h1>
        <p>Your attendance is now registered. You may now close this site.</p>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>