<header>
    <nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./assets/icons/nav-brand-icon.png" alt="" width="50" height="50" class="navbar-icon d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Contact</a>
              </li>
            </ul>
            <a class="btn btn-outline-dark" href="/login">Login</a>
          </div>
        </div>
      </nav>
</header>